<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html,body{
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        div{
            position: absolute;
            left:25%;
            top:20%;
            width: 50%;
            height:50%;
        }
        img{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div onclick="window.open('http://www.sddkj.gov.cn')">
    <img src="1.png" />
</div>
</body>
</html>